body {
/*  background-color: #7BE166 !important;*/
  background-color: gray;
  background-image: url("background.png");
  font-family: helvetica !important;
  font-weight: bold !important; 
}
.carousel-inner {
  position:relative;
  background-color: rgba(255,255,255,0.2);
}
.carousel-inner img {
  position:relative;
  z-index:1;
}
#load {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 350px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 auto;
}
.button-logout {
  float: right;
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 auto;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 auto;
}

.button span, #load span, .button-logout span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after, #load span:after, .button-logout span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span, #load:hover span, .button-logout:hover span{
  padding-right: 25px;
}

.button:hover span:after, #load:hover span:after, .button-logout:hover span:after {
  opacity: 1;
  right: 0;
}
#font-head {
  color: white;
  text-shadow: 5px 5px 5px black;
  text-align: center;
  font-size: 1.5em;
}
